integrations/n8n/Asgard_Trader_Workflow.json
{
    "name": "Asgard — Autonomous Trading Agent",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 5
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Every 5 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://api.coingecko.com/api/v3/simple/price?ids=solana&vs_currencies=usd",
                "options": {}
            },
            "id": "fetch-price",
            "name": "Fetch SOL Price",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                220,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.solana.usd }}",
                            "operation": "smaller",
                            "value2": 150
                        }
                    ]
                }
            },
            "id": "price-check",
            "name": "Is SOL Price Below $150?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "=http://localhost:3000/v1/wallet/{{ $vars.AGENT_ID }}/balance",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $vars.AGENT_API_KEY }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "check-balance",
            "name": "Check Agent Balance",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                660,
                200
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.balances.USDC }}",
                            "operation": "larger",
                            "value2": 10
                        }
                    ]
                }
            },
            "id": "balance-check",
            "name": "Has At Least 10 USDC?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                880,
                200
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/v1/intent/swap",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "=Bearer {{ $vars.AGENT_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "inputToken",
                            "value": "USDC"
                        },
                        {
                            "name": "outputToken",
                            "value": "SOL"
                        },
                        {
                            "name": "amount",
                            "value": 10
                        },
                        {
                            "name": "slippageBps",
                            "value": 50
                        }
                    ]
                },
                "options": {}
            },
            "id": "execute-swap",
            "name": "Execute Swap via Asgard",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "status",
                            "value": "={{ $json.status }}"
                        },
                        {
                            "name": "signature",
                            "value": "={{ $json.signature }}"
                        },
                        {
                            "name": "explorerUrl",
                            "value": "={{ $json.explorerUrl }}"
                        },
                        {
                            "name": "inputAmount",
                            "value": "={{ $json.inputAmount }}"
                        },
                        {
                            "name": "outputAmount",
                            "value": "={{ $json.outputAmount }}"
                        },
                        {
                            "name": "timestamp",
                            "value": "={{ $now }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "log-result",
            "name": "Log Transaction Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                1320,
                200
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "=Agent skipped swap: SOL price ${{ $('Fetch SOL Price').item.json.solana.usd }} is above threshold."
                        }
                    ]
                },
                "options": {}
            },
            "id": "price-skipped",
            "name": "Skipped — Price Too High",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "message",
                            "value": "Agent skipped swap: Insufficient USDC balance."
                        }
                    ]
                },
                "options": {}
            },
            "id": "balance-skipped",
            "name": "Skipped — Insufficient Balance",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                1100,
                340
            ]
        }
    ],
    "connections": {
        "Every 5 Minutes": {
            "main": [
                [
                    {
                        "node": "Fetch SOL Price",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch SOL Price": {
            "main": [
                [
                    {
                        "node": "Is SOL Price Below $150?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is SOL Price Below $150?": {
            "main": [
                [
                    {
                        "node": "Check Agent Balance",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skipped — Price Too High",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Agent Balance": {
            "main": [
                [
                    {
                        "node": "Has At Least 10 USDC?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has At Least 10 USDC?": {
            "main": [
                [
                    {
                        "node": "Execute Swap via Asgard",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Skipped — Insufficient Balance",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Swap via Asgard": {
            "main": [
                [
                    {
                        "node": "Log Transaction Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "asgard"
        },
        {
            "name": "solana"
        },
        {
            "name": "ai-agent"
        }
    ]
}